<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
    <footer class="footer">
        <div class="footer-container">
            <div class="copyright">
                © 2024 BookLibrary. All rights reserved.
            </div>
            <div class="social-links">
                <a href="#" aria-label="Facebook"><span class="material-icons">facebook</span></a>
                <a href="#" aria-label="Twitter"><span class="material-icons">smart_display</span></a>
                <a href="#" aria-label="Instagram"><span class="material-icons">camera_alt</span></a>
                <a href="#" aria-label="LinkedIn"><span class="material-icons">business_center</span></a>
            </div>
        </div>
    </footer>
</div>
</html>